/* optional configuration goes HERE! */
:root {
    --minimalfox-dragspace: 0px; /* increase to allow for easier dragging. recommended to set `7` for windows users. */
    --toolbarbutton-border-radius: 12px !important; /* border radius for various toolbar icons */
    --arrowpanel-menuitem-border-radius: var(--toolbarbutton-border-radius) !important; /* border radius for buttons inside dropdown menus. inherits from --toolbarbutton-border-radius by default */
    --panel-border-radius: var(--toolbarbutton-border-radius) !important; /* border radius for the various dropdown menus. inherits from --toolbarbutton-border-radius by default */
    /* --minimalfox-dragspace-display: none; */ /* uncomment if you don't plan to ever use the titlebar. */
}

/* internal configuration. this is needed for some variables. */
:is(menupopup, panel):where([type=arrow]) {
    --panel-border-radius: var(--toolbarbutton-border-radius) !important;
}

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar>.toolbar-items{display:none}
#titlebar{appearance:none!important;height:var(--minimalfox-dragspace);display:var(--minimalfox-dragspace-display)}

.urlbarView-button-menu, .titlebar-buttonbox-container, /* hide the hamburger menu thing https://safereddit.com/r/FirefoxCSS/comments/18rexvf/removing_the_3dot_menu_icon_next_to_the_address */
#forward-button, #back-button, /* just use alt+left/right arrow */
#urlbar .search-one-offs, /* hide the 'this time, search with' */ /* FIXME: pressing down arrow still selects what would be there */
.urlbarView-row::before
{display: none !important}

.urlbarView-row {
    margin-top: 0px !important;
}

/* just use ctrl+d */
#star-button-box {
    position: fixed;
    left: -30px;
}

#stop-button,
#developer-button, /* i have the developer button on my toolbar to quickly access it. this is really just for me. */
#reload-button {
    padding-left: var(--toolbar-start-end-padding) !important;
}
